

body{
    margin: 0px;
}
html{
    scroll-margin-top: 200px;
    scroll-behavior: smooth;
}
#navbar{
    position:fixed;
    height: 65px;
    width:100%;
    margin: 0px;
    display: flex;
    color:black;
    background-color:white;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#logo{
    display: flex;
    width:45%;
    height:100%;
    margin-left: 40px;
    align-items: center;
    
}

#logo_text{
    font-family:cursive;
    font-weight: 100;
    font-size: 40px;
    color: rgb(71, 71, 71);
}
#logo_text>span{
    color: red;
}

#sections{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 52%;
    
    
}
#menu_div{
    display: none;
    
    
}


#menu_image>img{
    width:30px;
    height:30px;
}


#menu{
    display: none;
    height: 100vh;
    width:250px;
    line-height: -400px;
    align-items:center;
    justify-content: center;
    background-color: #333333;
    margin-left: -240px;
    margin-top: 820px;
    padding: 20px;
    transition: .4s all ease-in-out;
    
}
#close{
    margin-bottom: 110px;
}
.menu_sec{

    margin-top: -340px;
    
    /* margin-bottom: -300px; */
    text-decoration: none;
    color: whitesmoke;
    font-family: sans-serif;
}

#menu>a:nth-child(3){
    margin-top: -390px;
}
#menu>a:nth-child(4){
    margin-top: -450px;
}
#menu>a:nth-child(5){
    margin-top: -500px;
}
#menu>a:nth-child(6){
    margin-top: -540px;
}
.menu_sec:hover{
    color: #426ae2;
}
#menu_resume{
    border: 2px solid #426ae2;
    color: #426ae2;
    width:90px;
    border-radius: 10px;
    margin-top: -550px;
    padding: 8px 4px 8px 12px;
    text-decoration: none;
    font-family: sans-serif;
}
#menu_resume:hover{
    color: #4a4848;
    background-color: whitesmoke;
    border-color: whitesmoke;
}
#menu_resume:hover #menu_res2{
    display: inline-block;
}
#menu_resume:hover #menu_res1{
    display: none;
}
#menu_res1{
    width:15px;
    height: 15px;
}
#menu_res2{
    display: none;
    /* mix-blend-mode: lighten; */
   
    width:21px;
    height:19px;
}


#main{
    
    width:100%;
    background-color: white;
    
}

.sec{
    text-decoration: none;
    color: #4a4848;
    font-size: large;
    font-weight:500;
    font-family:sans-serif;
    
}
.sec:hover{
    color: #426ae2;
}
#resume{
    display: block;
    border: 2px solid #426ae2;
    color: #426ae2;
    border-radius: 10px;
    padding: 10px 10px;
    text-decoration: none;
    font-family: sans-serif;
}
#resume:hover{
    border:2px solid #426ae2;
    background-color: #426ae2;
    color:whitesmoke;
}
#resume:hover #res2{
    display:inline;
    /* visibility: visible; */
    color: whitesmoke;
    background-color: white;
    mix-blend-mode: lighten;
}
#resume:hover #res1{
    display: none;

}
#res2{
    display: none;
    /* visibility: hidden; */
    mix-blend-mode: lighten;

}
#resume>img{
    width: 15px;
    height:15px;
    
    
}
#first{
    /* border:2px solid red; */
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-left: 0%;
    width: 98%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
#bg_image{
    width:50%;
}
#bg_image>img{
    width:100%;
    height: 600px;
    

}
#second{
    display: none;
}
#name_div{
    /* border: 1px solid green; */
    width:43%;
}
#hi{
    
    color:rgb(45, 44, 44);
    width: 70%;
    font-size: 25px;
    font-family: sans-serif;
    
}
#name{
    margin-top: -12px;
    font-size: 45px;
    font-family:sans-serif;
    color: rgb(44, 44, 44);
    
}
#name2_div{
    
    width: 100%;
    margin-top:30%;
    margin-left: 15%;
    text-align: left;
}
#name2{
    
    height: 80px;
    font-size: 40px;
    font-family:sans-serif;
    color: #426ae2;
    
}
#typing{
    margin-top: -40px;
    height: 80px;
}


#buttons{
    margin-left: 15%;
    text-align: left;
}

#resume_btn{
    
    font-size: 20px;
    padding: 8px;
    border-radius: 10px;
    background-color: transparent;
    color:#426ae2;
    font-family:sans-serif;
    border: 2px solid #426ae2;
    
}

#resume_btn:hover{
    background-color: #426ae2;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    cursor: pointer;
}

#box{
    
    display: flex;
    align-items: center;
    width: 35%;
    justify-content: space-between;
    font-family:sans-serif;
    border-radius: 50px;
    margin-top:33%;
    transition: transform .2s;
}
#box a:hover{
    transform: scale(1.25);
}
#linkedin>img{
    width:30px;
    height:30px;
    border-radius: 3px;
}
#github_div{
    border-radius: 35px;
    transition: transform .2s;
}        
#github>img{
    width:37px;
    height:37px;
    
    border-radius: 100px;
}
#github>img:hover{
    transform: scale(1.25);
}
#about_div{
    width:100%;
    scroll-margin-top: 120px;

}
#about_div>h2{
    
    color:#4a4848;
    text-decoration: underline;
    margin-top: 5%;
    text-align: center;
    font-family: sans-serif;
}
#about{
    display: flex;
    color:#4a4848;
    margin-top: 3%;
    font-family: sans-serif;
    justify-items: center;
}
#about_text{
    width:44%;
    padding: 35px 40px;
    line-height: 23px;
    margin-left: 8%;
    border-radius: 16px 5px;
    animation:alternate;
    text-align: left;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
#about_section{
    display: none;
}
#profile{
    width: 270px;
    height:270px;
    margin-left: 17%;
    margin-top: -2%;
    border: 10px solid grey;
    border-radius: 50%;
    
}

#profile>img{
    width:100%;
    height:100%;
    border-radius: 220px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
#container{
    width: 85%;
    margin-left: 7%;
    border-radius: 20px;
    scroll-margin-top: 100px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
#h2_skill{
    text-align: center;
    color: #4a4848;
    font-family: sans-serif;
    text-decoration: underline;
    margin-top: 5%;
    padding-top: 30px;
}
#skills_div{
    display: grid;
    grid-template-columns: repeat(5,140px);
    gap:40px 70px;
    width: 100%;
    justify-content: center;
    
}
#skills_div>div{
    text-align: center;
    color: #4a4848;
    font-size: 25px;
    font-family: sans-serif;
}
#skills_div img{
    width:100%;
}
#ds_div{
    width:90%;
    margin-top: 10px;
}
#project_div{
    margin-top: 40px;
    padding-top: 15px;
    scroll-margin-top: 110px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}
#project_box{
    scroll-margin-top: 20px;
    margin-left: 10%;
    width:80%;
    padding: 10px 10px 10px 10px;

    
}

#project_heading{
    text-align:center;
    text-decoration: underline;
    font-family: sans-serif;
    color: #4a4848;
}
.project{
    border: 2px solid #4a4848;
    width: 85%;
    margin-bottom: 50px;
    border-radius: 20px 5px 20px 5px;
}
.proj_cont{
    display: flex;
    width:90%;
    border-radius: 20px 5px 20px 5px;
    font-family: sans-serif;
    color: #4a4848;
    text-align: center;
    padding: 15px;
}
.project_text{
    margin-left: 40px;
    text-align: left;
    line-height: 22px;
}
.project_text li{
    margin-bottom: 8px;
    
}
.proj_image>img{
    width:250px;
    margin-top: 20px;
    height: 180px;
}
.Title{
    font-weight: bold;
    font-size: 25px;
}
.links{
    display: flex;
    align-items: center;
}
.repo{
    display: flex;
    height: 45px;
    width: auto;
    padding: 0px 12px;
    justify-content:center;
    transition: transform .2s;
    align-items:center;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-right: 10%;
}
.repo:hover{
    cursor: pointer;
    transform: scale(1.10);
    
}

.repo>img{
    margin-left: -5px;
    height: 40px;
    width: 40px;
}
.live>img{
    width: 30px;
    height: 25px;
}
.open_live{
    font-weight:bold;
    font-family: sans-serif;
    margin-left: 8px;
}

.git_live{
    font-weight:bold;
    font-family: sans-serif;
    margin-left: 8px;
}

#contact_cont{
    margin-top: 20px;
    color: whitesmoke;
    padding: 10px 0px;
    background-color: #252525;
    width:100%;


}

#contact_div{
    display: flex;
    width:100%;
    margin-top:40px;
    padding-bottom: 20px;
    text-align: center;
    color: #4a4848;
    font-family: sans-serif;
}
#contact{
    width:40%;
    margin-left: 10%;

}
#cont_h2{
    margin-top: 3%;
    text-align: center;
    text-decoration: underline;
    color: whitesmoke;
    font-family: sans-serif;
}
#email{
    display: flex;
    align-items: center;

}
#email>img{
    mix-blend-mode: lighten;
    border: 1px solid #252525;
    height:25px;
    width: 28px;
    background-color: whitesmoke;

    
}
#email>p{
    color: whitesmoke;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 400;
    font-family: sans-serif;
    margin-left: 12px;
}
#phone{
    display: flex;
    align-items: center;
    color: whitesmoke;

}
#phone>img{
    mix-blend-mode: lighten;
    height:23px;
    width: 22px;
    background-color: whitesmoke;
    border: 1px solid #252525;
    
    
}
#c_code{
    color: whitesmoke;
    margin-left: 15px;
    margin-right: 10px;
}

#bottom_div{
    display: flex;
    align-items: center;
    width: 10%;
    justify-content: space-between;
    font-family:sans-serif;
    margin-top:0%;
    margin-left: 25%;
    transition: transform .2s;
}
#link2>img{
    width:25px;
    height:25px;
}
#bottom_div img:hover{
    transform: scale(1.25);
}
#gth>img{
    mix-blend-mode: lighten;
    width:40px;
    height:40px;
    border-radius: 100px;
}
#last_div{
    padding-bottom: 4px;
    padding-top: 0px;
    width:100%;
    background-color: #252525;
    border-top: 1px solid whitesmoke;
    text-align: center;
    font-family: cursive;
    color: whitesmoke;
    font-size: 15px;
}
#last_div span{
    color: red;
}

@media all and (min-width:320px) and (max-width: 465px) {
    #sections{
        visibility: hidden;
    }
    #menu_div{
        display: flex;
        align-items: center;
        font-weight: bold;
        justify-content: space-around;
        width: 45%;
        margin-left: -40px;
    }
    #menu_home{
        color:#333333;
        text-decoration: none;
        font-family: sans-serif;
        margin-right: 50px;
    }
    #menu_home:hover{
        color: #426ae2;
    }
    #close{
        color: whitesmoke;
        height: 40px;
        width:40px;
        font-size: 20px;
        font-family: sans-serif;
        margin-left: 95%;
        text-decoration: none;
    }
    #close:hover{
        color:rgb(239, 48, 48)
    }
    #first{
        width: 100%;
    }
    #bg_image{
        display: none;
    }
    #name_div{
        width:90%;
    }
    
    #name2_div{
        margin-left: 10%;
        margin-top: 32%;
        
    }
    #name{
        font-size: 35px;
    }
    #name2{
        font-size: 35px;
        font-family:sans-serif;
        color: #426ae2;
        
    }
    
    #typing{
        width:100%;
        height:100px;
        margin-top: -30px;
        font-size: 35px;
    }
    
    #hi{
        font-size: 20px;
    }
    
    #buttons{
        margin-left: 12%;
    }
    #about_div{
        scroll-margin-top: 85px;
        
    }
    #about{
        display: none;
        margin-bottom: 30px;

    }
    #about_section{
        display:grid;
        justify-items: center;
    }
    #profile2{
        width: 270px;
        height:270px;
        border-radius: 200px;
        border:10px solid grey;
        margin-left: 0%;
        margin-top: 0%;
        
    }
    #profile2>img{
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 200px;
        
    }

    #box{
        width: 50%;
        margin-bottom:0px;
    }
    
    
    #about_text{
        width:70%;
        margin-top: 40px;
        margin-left: 0%;
        font-family: sans-serif;
    }
    #skills_div{
        display: grid;
        grid-template-columns: repeat(2,110px);
        gap:40px 70px;
        width: 100%;
        
        justify-content: center;
    }  
    
    
    .project_text{
        margin-left: 15px;
        text-align: left;
    }
    
    #project_box{
        display: grid;
        grid-template-columns: repeat(10,1fr);
        gap: 50px;
        margin-left: 10%;
        width:80%;
        height: 610px;
        justify-content: space-between;
        overflow-x: auto;
        
    }
    .project_text li{
        margin-left: -30px;
    }
    #project_div{
        scroll-margin-top: 0px;
        width: 100%;
    }
    .proj_cont{
        width:90%;
        display: block;
    }
    .project{
        width:100%;
        border:1px solid #4a4848;
        border-radius: 20px 5px 20px 5px;
        font-family: sans-serif;
        color: #4a4848;
        text-align: center;
        padding: 0px 10px;
        margin-bottom: 0px;
    
    }
    #project_div{
        scroll-margin-top: 90px;
    }
    #bottom_div{
        display: flex;
        width:35%;
        margin-top: 40px;
        margin-left: 50px;
        margin-bottom: 40px;
    
    }
    #gth{
        margin-left: 12px;
    }
    #contact_div{
        display: grid;
        width:100%;
        margin-top:40px;
        text-align: center;
        color: #4a4848;
        font-family: sans-serif;
    }
}

@media all and (min-width:466px) and (max-width: 767px) {
  
#sections{
    visibility: hidden;
}
#menu_div{
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 45%;
    justify-content: space-between;
}

#menu_home{
    color:#333333;
    text-decoration: none;
    font-family: sans-serif;
    margin-right: 40px;
}
#close{
    color: whitesmoke;
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 95%;
    text-decoration: none;
}
#close:hover{
    color:rgb(239, 48, 48)
}
#menu_home:hover{
    color: #426ae2;
}
#bg_image{
    display: none;
    width:0%;
}
#bg_image>img{
    width:100%;
    height: 400px;

}
#menu{
    margin-top: 600px;
}
#name_div{
    width:88%;
}
#name{
    font-size: 40px;
}
#name2_div{
    margin-top: 32%;
    font-size: 40px;
}

#box{
    width: 45%;
    margin-bottom:0px;
}
#about{
    display: none;
    
}
#about_div{
    scroll-margin-top: 90px;
}
#about_section{
    display:grid;
    justify-items: center;
}
#profile2{
    width: 270px;
    height:270px;
    border-radius: 200px;
    border:10px solid grey;
    margin-left: 0%;
    margin-top: 0%;
    
}
#profile2>img{
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 200px;
    
}


#about_text{
    font-family: sans-serif;
    width: 70%;
    margin-top: 30px;
    margin-left: 0%;
}
#container{
    scroll-margin-top: 85px;
}
#skills_div{
    display: grid;
    grid-template-columns: repeat(2,140px);
    gap:40px 70px;
    width: 100%;
    
    justify-content: center;
}  
.project_text{
    margin-left: 15px;
    text-align: left;
}

#project_box{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 50px;
    margin-left: 10%;
    width:80%;
    height: 610px;
    justify-content: space-between;
    overflow-x: auto;
    
}
.project_text li{
    margin-left: -30px;
}
#project_div{
    scroll-margin-top: 90px;
    width: 100%;
}
.proj_cont{
    width:90%;
    display: block;
}
.project{
    width:100%;
    border:1px solid #4a4848;
    border-radius: 20px 5px 20px 5px;
    font-family: sans-serif;
    color: #4a4848;
    text-align: center;
    padding: 0px 10px;
    margin-bottom: 0px;

}
.links{
    margin-bottom: 0%;
}
#bottom_div{
    display: flex;
    width:20%;
    margin-top: 20px;
    margin-left: 60px;

}
#gth{
    margin-left: 12px;
}
#contact_div{
    display: grid;
    width:100%;
    margin-top:40px;
    text-align: center;
    color: #4a4848;
    font-family: sans-serif;
}


}
@media all and (min-width:768px) and (max-width: 1020px) {
body{
    margin: 0%;
}
#resume{
    visibility: hidden;
    display: none;
    color: red;
} 
#first{
    width: 100%;
}
#name_div{
    margin-left: -25px;
    width:60%;
}
#hi{
    font-size: 25px;
}
#name{
    font-size: 40px;

}
#name2_div{
    margin-top: 28%;
    font-size: 40px;
}

#menu{
    margin-top: 610px;
}

#bg_image{
    width:40%;
    height: 100%;
}
#bg_image>img{
    margin-top: 100px;
    height:400px;
}
#project_div{
    scroll-margin-top: 200px;
    width: 100%;
}
#project_box{
    width:90%;
    margin-left: 5%;
}
.project{
    width:100%;
}
#profile{
    border: 10px solid rgb(153, 151, 151);
    border-radius: 220px;
    margin-left: 40px;
}
#skills_div{
    display: grid;
    grid-template-columns: repeat(3,140px);
    gap:40px 70px;
    width: 100%;
    
    justify-content: center;
}  
#close{
    color: whitesmoke;
    font-family: sans-serif;
    margin-left: 90%;
    text-decoration: none;
}


}